*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}

body,html{
    width:100%;
    min-height:100vh;
}
.main{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative;
}

.main::before, .main::after{
    content: '';
    width: 100%;
    height: 765px; 
    position:absolute;      
    left: 0;
    top: 0;    
}

.main::before{               
    background: url("../images/image1.png");    
    background-size: cover; 
    z-index: -10;    
}

.main::after{  
    background-color:  rgba(24, 24, 24, 0.7);
    z-index: -5;
}

.decor__wrap{
  display: flex;
  padding-left:40%;
  padding-top:5%;
  position: relative;
} 
.decor__wrap:after{
    content: '';
    width: 73px;
    height: 317px;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-left: none;
    border-bottom: none;
    position: relative;
    border-top-right-radius: 30px 30px;
    top: 29px;
    right: 0px;
    display: block;
}
 .button__wrap{
     display:block;
     
     
 }
 .decor__mouse{
     height: 70%;
 }
 .button__transp{
    display: flex;
    width: 205px;
    height: 56px;
    border: 2px solid #fc635e;
    color: #fc635e;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
 }
.header{
    position: relative;
   height: 0;
  
} 
.container2 {
    font-size: 0;
    margin:0;
    width: 1250px;
    padding-top: 0px;
    padding-bottom: 10px;
}


.nav{
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    margin-top:20px;
    margin-left: 400px;
}

.nav__list-item{
    display: inline;
    margin-left: 40px; 
}

.nav__item:hover{
    opacity:0.5;
}
.nav__link{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 16px;  
}

.nav__link:hover {
    border-bottom:#f07970 5px solid;
    padding-bottom: 5px;
    cursor: pointer;
    color:#f07970;
   
}


 .image2{
  margin-left: 20px;
  
} 
.image3{
   left:50%;
    position: absolute;
    bottom:12px; /*??????????? */
}

.image__bottom{
    height:100%;
    position:relative;

}


.text1{
    font-size: 60px;
}

.line{
    display:flex;
    align-items:center;
}


.container__content{ 
    position: relative;
   display:block;
   text-align: center;
   font-size:30px;
   color:white;
   font-weight: 1000;
   font-family: sans-serif;
   top:30%
    
}

h1:before,
h1:after {
 background-color:rgb(185, 179, 179);
 content: "";
 display: inline-block;
 height: 8px;
 position: relative;
 vertical-align: middle;
 width: 7%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}
span{
    color:rgb(255, 80, 86);
}

.ui-reset-btn{
    background: none;
    border:solid rgb(255, 80, 86);
    border-radius: 10px;
    padding:20px 44px 17px 44px;
    width: 250px;
    cursor: pointer;
    display:inline-block;
    /* position: relative; */
    font-size:20px;
    color:rgb(255, 80, 86);
    font-weight:600;
}

/* signs */

.signs__section{
    padding: 223px 0 65px 0;
    background: rgb(252,252,252);
    height: 100vh;
    position: relative;
    width:1500px;
}

.signs__section__heading{
    /* text-align: center;
    top:100%;
    text-decoration: underline;
    margin:30px;  */
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad;
    text-decoration: none;
    display:inline-block;
    margin-left: 38%;
    margin-top:-10px;
   
   
   
}

.signs__section_paragraph{
    text-align: center;
    color: rgb(213,213,213);
    font-size:20px;
    font-family: sans-serif;
    font-weight:300;
    padding-top:10px;
    
}

.signs__section_ul{
    list-style: none;
    color:rgb(213,213,213);
    justify-content: center;
    display: flex;
    padding-top:15%;  
    
}

.signs__section_ul li{
    padding: 50px;
}

.span2{
    color:rgb(255, 80, 86);
}

.sings__section_li{
    
}

.signs__section__header{
    text-align: center;
    color:rgba(137,137,137)

}
.image4{
    align-items: center;
    left:50%;
    position:absolute;
    bottom:50px;
    font-size:20px;

}


     .signs__hexagons__div{
        position: absolute;
        width: 116px;
        height: 65px;
        border: 5px solid rgb(252,124,121);
        border-top: none;
        border-bottom: none;
        left: 218px;
        top: 400px;
        background-color:rgb(252,81,77);
     }

     .signs__hexagons__div:nth-child(2) {
        transform: rotate(60deg);
        
     }
     .signs__hexagons__div:nth-child(3) {
        transform: rotate(-60deg)
         
     }

     .hexagon__icon{
        font-size:40px;
        color:white;
        transform:rotate(60deg);
        margin-top:14px;
        margin-left:25px;
     }

     .signs__hexagons__div:hover{
         background-color:white;
         cursor: pointer;
     }

     .signs__hexagons__div:nth-child(2):hover {
        transform: rotate(60deg);
        
     }
     .signs__hexagons__div:nth-child(3):hover {
        transform: rotate(-60deg)
         
     }
     
     .hexagon__icon:hover{
        font-size:40px;
        color:rgb(252,81,77);
        transform:rotate(60deg);
        margin-top:14px;
        margin-left:25px;
     }