*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}

body,html{
    width:100%;
    min-height:100vh;
}
.main{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative;
}

.main::before, .main::after{
    content: '';
    width: 100%;
    height: 765px; 
    position:absolute;      
    left: 0;
    top: 0;    
}

.main::before{               
    background: url("../images/image1.png");    
    background-size: cover; 
    z-index: -10;    
}

.main::after{  
    background-color:  rgba(24, 24, 24, 0.7);
    z-index: -5;
}

.decor__wrap{
  display: flex;
  padding-left:40%;
  padding-top:5%;
  position: relative;
} 
.decor__wrap:after{
    content: '';
    width: 73px;
    height: 317px;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-left: none;
    border-bottom: none;
    position: relative;
    border-top-right-radius: 30px 30px;
    top: 29px;
    right: 0px;
    display: block;
}
 .button__wrap{
     display:block;
     
     
 }
 .decor__mouse{
     height: 70%;
 }
 .button__transp{
    display: flex;
    width: 205px;
    height: 56px;
    border: 2px solid #fc635e;
    color: #fc635e;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
 }
.header{
    position: relative;
   height: 0;
  
} 
.container2 {
    font-size: 0;
    margin:0;
    width: 1250px;
    padding-top: 0px;
    padding-bottom: 10px;
}


.nav{
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    margin-top:20px;
    margin-left: 400px;
}

.nav__list-item{
    display: inline;
    margin-left: 40px; 
}

.nav__item:hover{
    opacity:0.5;
}
.nav__link{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 16px;  
}

.nav__link:hover {
    border-bottom:#f07970 5px solid;
    padding-bottom: 5px;
    cursor: pointer;
    color:#f07970;
   
}


 .image2{
  margin-left: 20px;
  
} 
.image3{
   left:50%;
    position: absolute;
    bottom:12px;
}

.image__bottom{
    height:100%;
    position:relative;

}


.text1{
    font-size: 60px;
}

.line{
    display:flex;
    align-items:center;
}


.container__content{ 
    position: relative;
   display:block;
   text-align: center;
   font-size:30px;
   color:white;
   font-weight: 1000;
   font-family: sans-serif;
   top:30%
    
}

h1:before,
h1:after {
 background-color:rgb(185, 179, 179);
 content: "";
 display: inline-block;
 height: 8px;
 position: relative;
 vertical-align: middle;
 width: 7%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}
span{
    color:rgb(255, 80, 86);
}

.ui-reset-btn{
    background: none;
    border:solid rgb(255, 80, 86);
    border-radius: 10px;
    padding:20px 44px 17px 44px;
    width: 250px;
    cursor: pointer;
    display:inline-block;
    font-size:20px;
    color:rgb(255, 80, 86);
    font-weight:600;
}

/* signs */

.signs__section{
    padding: 223px 0 65px 0;
    background: rgb(252,252,252);
    height: 100vh;
    position: relative;
    width:1500px;
}

.signs__section__heading{
  
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad;
    text-decoration: none;
    display:inline-block;
    margin-left: 38%;
    margin-top:-10px;
   
   
   
}

.signs__section_paragraph{
    text-align: center;
    color: rgb(213,213,213);
    font-size:20px;
    font-family: sans-serif;
    font-weight:300;
    padding-top:10px;
    
}

.signs__section_ul{
    list-style: none;
    color:rgb(213,213,213);
    justify-content: center;
    display: flex;
    padding-top:15%;  
    
}

.signs__section_ul li{
    padding: 50px;
}

.span2{
    color:rgb(255, 80, 86);
}

/* .sings__section_li{
    
} */



/*clients__header*/
.signs__section__header__clients{
    text-align: center;
    color:rgba(137,137,137);
    position:relative; 
}

.signs__section__header__clients:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 41%;
    border-bottom: 1px solid grey;  
}
/*--clients__header--*/
/*branding__header*/
.signs__section__header__branding{
    text-align: center;
    color:rgba(137,137,137);
    position:relative;  
}
.signs__section__header__branding:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 41%;
    border-bottom: 1px solid grey;  
}
/*--branding__header--*/

/*marketing__header*/
.signs__section__header__marketing{
    text-align: center;
    color:rgba(137,137,137);
    position:relative;
}
.signs__section__header__marketing:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 41%;
    border-bottom: 1px solid grey;  
}
/*--marketing__header--*/

/*ADV__header*/
.signs__section__header__ADV{
    text-align: center;
    color:rgba(137,137,137);
    position:relative;
}

.signs__section__header__ADV:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 41%;
    border-bottom: 1px solid grey;
}
/*--ADV__header--*/

.image4{
    align-items: center;
    left:50%;
    position:absolute;
    bottom:5px;
    font-size:20px;

}


     .signs__hexagons__div{
        position: absolute;
        width: 116px;
        height: 65px;
        border: 5px solid rgb(252,124,121);
        border-top: none;
        border-bottom: none;
        left: 218px;
        top: 400px;
        background-color:rgb(252,81,77);
     }

     .signs__hexagons__div:nth-child(2) {
        transform: rotate(60deg);
        
     }
     .signs__hexagons__div:nth-child(3) {
        transform: rotate(-60deg)
         
     }

     .hexagon__icon{
        font-size:40px;
        color:white;
        transform:rotate(60deg);
        margin-top:14px;
        margin-left:25px;
     }

     /*signs__hexagons hover*/

     .signs__hexagons:hover .signs__hexagons__div
     {
         background: #fff;
     }
      
     .hexagon__icon .signs__hexagons__div:nth-child(2) .signs__hexagons__div:nth-child(3) :hover {
         background-color: white;
     }
    
       /*--signs__hexagons hover--*/

        /* hexagon__icon__hover*/
     .signs__hexagons:hover .hexagon__icon {
        color: rgb(255, 83, 79);
    }
    /*--hexagon__icon__hover--*/

       

     /*branding*/

     .hexagons__branding__div{
        position: absolute;
        width: 116px;
        height: 65px;
        border: 5px solid rgb(252,124,121);
        border-top: none;
        border-bottom: none;
        left: 533px;
        top: 400px;
        background-color:rgb(252,81,77);
     }

     .hexagons__branding__div:nth-child(2) {
        transform: rotate(60deg);
        
     }
     .hexagons__branding__div:nth-child(3) {
        transform: rotate(-60deg);
         
     }

     /*--branding--*/

    /*hexagons__branding hover*/

       .hexagons__branding:hover .hexagons__branding__div{
           background: white;
       }
       .hexagon__icon .hexagons__branding__div:nth-child(2) .hexagons__branding__div:nth-child(3) :hover{
           background-color: white;
       } 
    /*--hexagons__branding hover--*/


        /* hexagon__icon__branding__hover*/
        .hexagons__branding:hover .hexagon__icon {
            color: rgb(255, 83, 79);
        }
        /*-- hexagon__icon__branding__hover--*/


     /*marketing*/
     .hexagons__marketing__div{
        position: absolute;
        width: 116px;
        height: 65px;
        border: 5px solid rgb(252,124,121);
        border-top: none;
        border-bottom: none;
        left: 850px;
        top: 400px;
        background-color:rgb(252,81,77);
     }

     .hexagons__marketing__div:nth-child(2) {
        transform: rotate(60deg);
        
     }
     .hexagons__marketing__div:nth-child(3) {
        transform: rotate(-60deg);
         
     }
     /*--marketing--*/

     /*marketing__branding hover*/

     .hexagons__marketing:hover .hexagons__marketing__div{
        background: white;
    }
    .hexagon__icon .hexagons__marketing__div:nth-child(2) .hexagons__marketing__div:nth-child(3) :hover{
        background-color: white;
    } 
    /*--marketing__branding hover--*/

    /* hexagon__icon__marketing__hover*/
    .hexagons__marketing:hover .hexagon__icon {
        color: rgb(255, 83, 79);
    }
    /*-- hexagon__icon__marketing__hover--*/

     /*ADV*/
     .hexagons__ADV__div{
        position: absolute;
        width: 116px;
        height: 65px;
        border: 5px solid rgb(252,124,121);
        border-top: none;
        border-bottom: none;
        left: 1158px;
        top: 400px;
        background-color:rgb(252,81,77);
     }
     .hexagons__ADV__div:nth-child(2) {
        transform: rotate(60deg);
        
     }
     .hexagons__ADV__div:nth-child(3) {
        transform: rotate(-60deg);
         
     }
     /*--ADV--*/

     /*ADV__branding hover*/

     .hexagons__ADV:hover .hexagons__ADV__div{
        background: white;
    }
    .hexagon__icon .hexagons__ADV__div:nth-child(2) .hexagons__ADV__div:nth-child(3) :hover{
        background-color: white;
    } 
    /*--ADV__branding hover--*/

    /* hexagon__icon__ADV__hover*/
    .hexagons__ADV:hover .hexagon__icon {
        color: rgb(255, 83, 79);
    }
    /*-- hexagon__icon__ADV__hover--*/



    

     /*Expand your business*/

     /*Expand your business opacity*/

     .expand{
        width: 100%;
        height: 765px;
        margin: 0 auto;
        position: relative;
        
    }
    
    .expand::before,.expand::after{
        content: '';
        width: 100%;
        height: 765px; 
        position:absolute;      
        left: 0;
        top: 0;    
    }
    
    .expand::before{               
        background: url("../images/image5.png");    
        background-size: cover; 
        z-index: -10;    
    }
    .expand::after{  
        background-color: rgba(24, 24, 24, 0.7);
        z-index: -5;
    }




   /*expand main header*/
   .expand__main__header{ 
    position: relative;
   display:block;
   text-align: center;
   font-size:30px;
   color:white;
   font-weight: 1000;
   font-family: sans-serif;
   top:30% 
}

.expand__main__header__paragraph{
    font-size: 54px;
    position: relative;
    top:169px;

}

.expand__main__header{
    border: 10px solid rgba(190, 179, 179, 0.1);;
   height:30px;
    margin: 200px;
    height:380px;
    
}


.expand__wrap{
    display: flex;
    padding-left:40%;
    padding-top:5%;
    top:180px;

  } 
  .expand__wrap:after{
      content: '';
      width: 73px;
      height: 317px;
      border: 1px dashed rgba(228, 219, 219, 0.2);
      border-left: none;
      border-bottom: none;
      position: relative;
      border-top-right-radius: 30px 30px;
      top: 29px;
      right: 0px;
      display: block;
  }
   .expand__button__wrap{
       display:block;
       position: relative;
       top:130px;
       
   }
   
   .expand__button__transp{
      display: flex;
      width: 205px;
      height: 56px;
      border: 2px solid #fc635e;
      color: #fc635e;
      border-radius: 7px;
      font-size: 24px;
      font-weight: 300;
      line-height: 26px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
   }

   .image4_expand{
    align-items: center;
    left:50%;
    position:absolute;
    font-size:20px;
   }
   /*--expand main header--*/

    /*--Expand your business--*/




/* Our process*/
   .our__process__section{
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        position: relative;  
        
   }

   .our__process__heading{
       
    justify-content: center;
   }

   .our__process__hexagons__div{
       display:flex;
       justify-content: center;
   }

   .our__process__title{
    color: #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad;
    text-decoration: none;
    display: inline-block;
    margin-left: 43%;
    margin-top: 41px;
   }

   .our__process__paragraph{      
   color:  #adadad;
   font-size: 20px;
   font-weight: 300;
   line-height: 26px;
   text-align: center; 
   margin-top: 19px;
   }

   .our__process__hexagons{
       height:600px;
       width:800px;
       padding-top:20px;

   }
   /*---- Our process----*/



   /*We do section*/

   .we__do__section{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative; 
    background-color: rgb(239,239,239);
   }

   .we__do__section__wrap{
       display: flex;
   }

   .we__do__heading{
    color: #868686;
    font-size:28px;
    text-align:center;
    border-bottom: 1px solid  #adadad;
    display: inline-block;
    margin-left: 43%;
    margin-top:41px;

   }

   .we__do__text{
       flex-direction:column;
       width:45%;
        font-size:16px;
      padding-left:14%;
      padding-top:150px;
      display: flex;
      
     
   }

   .landing__pages{
       
       height:52px;
       color:rgb(130,130,130);
       line-height: 10px;
   }

   .landing__pages:before{
       content:"";
       border-left:9px solid #fc635e;
   }

   .landing__pages__paragraph{
       align-items:center;
       color:rgb(184,184,184);
   }

   .we__do__btn{
    background-color: #fc635e;
    border: none;
    color: #f2e2e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display:block;
    width:177px;
    height:44px;
    margin-top:25px;
    border-radius: 7px;
    font-weight:100;
   }

   .image__we__do{
    height:250px;
    width:400px;
   }

   .we__do__text__image{
    padding-top:135px;
   }
/*---We do section---*/


/*advertising*/

   .advertising__section{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative; 
    background-color: ;
   }

.advertising__section__wrap{
    display:flex;
    flex-direction:row-reverse;
    padding: 163px;
    margin-top: -11%;
}

.advertising__text{
    flex-direction:column;
    width:45%;
     font-size:16px;
   padding-left:14%;
   padding-top:150px;
   margin-right:16%;
}

.advertising__header{
    height:52px;
    color:rgb(130,130,130);
    line-height: 10px;
}

.advertising__header:after{
content:"";
border-right:9px solid #fc635e;
}

.advertising__header__wrap{
    text-align: right;
}

.advertising__paragraph{
    align-items:center;
    color:rgb(184,184,184);
}

.advertising__btn{
    background-color: #fc635e;
    border: none;
    color: #f2e2e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width:177px;
    height:44px;
    margin-top:25px;
    border-radius: 7px;
    font-weight:100;
    display: absolute;
}

.advertising__btn__wrap{
    text-align: right;
    display:relative;
}
.advertising__image__section{
    padding-top:135px;
}

.advertising__image{
    height:250px;
    width:400px;
}
/*---advertising---*/

/*Marketing kit*/
.marketing__kit__section{
    width: 100%;
    height: 615px;
    margin: 0 auto;
    position: relative; 
    background-color: rgb(239,239,239)
}
.marketing__kit__section__wrap{
    display: flex;
}
.marketing__kit__text{
    flex-direction:column;
    width:45%;
     font-size:16px;
   padding-left:14%;
   padding-top:150px;
   display: flex;
}
.marketing__kit__header{
    height:52px;
    color:rgb(130,130,130);
    line-height: 10px;
}
.marketing__kit__header:before{
    content:"";
    border-left:9px solid #fc635e;
}
.marketing__kit__paragraph{
    align-items:center;
    color:rgb(184,184,184);
}
.marketing__kit__btn{
    background-color: #fc635e;
    border: none;
    color: #f2e2e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display:block;
    width:177px;
    height:44px;
    margin-top:25px;
    border-radius: 7px;
    font-weight:100;
}

.marketing__kit__image{
    padding-top:135px;
}
.image__marketing__kit{
    height:250px;
    width:400px;
}
/*---Marketing kit---*/

/* Portfolio */
.topic{       
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad; 
    width: 13%;
    margin-left: 45%;
    padding-top:101px;
}
.portfolio{  
    position: relative;    
    padding-bottom: 67px;
}

.nav--wrap{
    width: 80%;  
    height: 59px;
    margin-top: 39px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 0 15px 0 15px;
    margin-left: 155px;

}

.nav__list{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;   
    color:  #606060; 
}

.nav__link{
    text-decoration: none;
    color:  #fc635e;
}

.marketing__kit__image{
   justify-content: center;  
}

.image__portfolio{
    height:600px;
    width:1157px;
    display: block;
    margin:0 auto;
    margin-top:50px;
}


.portfolio__btn__wrap{
margin-top:45px;
}

.portfolio__btn{
    background-color: #fc635e;
    border: none;
    color: #f2e2e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display:block;
    width:210px;
    height:44px;
    margin-top:25px;
    border-radius: 7px;
    font-weight:100;
    margin:0 auto;
    padding-top:10px;
}

.bottom__button{

}
.bottom__image{
margin:0 auto;
display: block;
margin-top:60px;
}

/*---Portfolio---*/



/* Our team */
.section__blocks__wrap{
    display:flex;
    justify-content: center;
    padding-top:70px;
    justify-content: space-around;  
    margin-right: 46px;
}
.our__team__section{
    width: 100%;
    height: 765px;
    margin: 0 auto;
    position: relative; 
    background-color: rgb(239,239,239);
}

.our__team__title__wrap{
justify-content: center;
}

.our__team__title{
    color: #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad;
    text-decoration: none;
    display: inline-block;
    margin-left: 43%;
    margin-top: 41px;
}

/*first block*/




/*image and text*/
.first__block{
padding-left: 5px;
}

.first__block__image{
    width:180px;
    height:200px;
}
.first__block__name__undersign__wrap{
display: block;
width:180px;
height:73px;
}

.first__block__name{
font-family: sans-serif;
font-size:24px;
width:200px;
color:rgb(89,89,89);
}

.first__block__undersign{
font-family: sans-serif;
font-size:24px;
color:rgb(141,141,141);
font-weight: 500;
text-align: center;
}
/*---image and text---*/

/*social networks*/

.social__networks{
list-style: none;
display: flex;
padding-top:5px;
width:180px;

}

.social__networks__item{
padding:9px;

}

.twitter__image{
width:45px;
height:45px;
}
.facebook__image{
    width:45px;
    height:45px;
}

.linkedin__image{
    width:45px;
    height:45px;
}
/*---social networks---*/


/*---first block---*/






/*second block*/




/*image and text*/
.second__block{
    padding-left: 5px;
    }
    
    .second__block__image{
        width:180px;
        height:200px;
    }
    .second__block__name__undersign__wrap{
    display: block;
    width:180px;
    height:73px;
    }
    
    .second__block__name{
    font-family: sans-serif;
    font-size:24px;
    width:200px;
    color:rgb(89,89,89);
    margin-left: 23px;
    }
    
    .second__block__undersign{
    font-family: sans-serif;
    font-size:24px;
    color:rgb(141,141,141);
    font-weight: 500;
    text-align: center;
    }
    /*---image and text---*/
    
    /*social networks*/
    
    .social__networks{
    list-style: none;
    display: flex;
    padding-top:5px;
    width:180px;
    
    }
    
    .social__networks__item{
    padding:9px;
    
    }
    
    .twitter__image{
    width:45px;
    height:45px;
    }
    .facebook__image{
        width:45px;
        height:45px;
    }
    
    .linkedin__image{
        width:45px;
        height:45px;
    }
    /*---social networks---*/
    
    
    /*---second block---*/




/*third block*/

/*image and text*/
.third__block{
    padding-left: 5px;
    }
    
    .third__block__image{
        width:180px;
        height:200px;
    }
    .third__block__name__undersign__wrap{
    display: block;
    width:180px;
    height:73px;
    }
    
    .third__block__name{
    font-family: sans-serif;
    font-size:24px;
    width:200px;
    color:rgb(89,89,89);
    margin-left: 23px;
    }
    
    .third__block__undersign{
    font-family: sans-serif;
    font-size:24px;
    color:rgb(141,141,141);
    font-weight: 500;
    text-align: center;
    }
    /*---image and text---*/
    
    /*social networks*/
    
    .social__networks{
    list-style: none;
    display: flex;
    padding-top:5px;
    width:180px;
    
    }
    
    .social__networks__item{
    padding:9px;
    
    }
    
    .twitter__image{
    width:45px;
    height:45px;
    }
    .facebook__image{
        width:45px;
        height:45px;
    }
    
    .linkedin__image{
        width:45px;
        height:45px;
    }

    .blocks__bottom__button{

    }
    .blocks__bottom__image{
    margin:0 auto;
    display: block;
    margin-top:90px;
    }
    /*---social networks---*/
    
    
    /*---third block---*/